body {
	background-color: #f95;
}

fieldset {
	// text-align: center;
	width: 155px;
	margin: 0 auto;
}

form input, form textarea, form select{
	width: 150px;
	margin-top: 10px;
}

ul {
	list-style: none;
}

li {
	margin-top: 5px;
}

li a {
	display: inline-block;
	font-size: 20px;
	color: #444;
}

li a:hover {
	text-decoration: none;
}