.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
	font-size: 16px;
	color: #333;
	background-color: lightgrey;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.wrap {
	width: 1024px;
	margin: 30px auto;
}

header {
	// display: inline-block;
}

.logo {
	font-size: 28px;
	color: darkgreen;
	margin-left: 20px;
}

.descr {
	float: right;
	font-style: italic;
	letter-spacing: 2px;
	margin-right: 20px;
}

menu a {
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #595;
	font-size: 24px;
}

menu a:hover{
	background-color: #aaa;
}

aside {
	float: left;
	margin-right: 50px;
	width: 250px;
}

.menu {
	padding-left: 0;
}

.hor li {
	display: inline-block;
}

aside .vert a {
	display: inline-block;
	width: 150px;
	font-size: 20px;
	color: red;
	padding: 10px 40px;
	margin-bottom: 10px;
	background-color: #aaa;
	text-decoration: none;
}

aside .vert a:hover {
	color: #bbb;
	background-color: #777;
}

footer .hor a {
	width: 100px;
	margin: 20px;
	font-size: 20px;
	color: #394d82;
}

footer .hor a:hover {
	text-decoration: none;
	color: #743030;
}


.content {
	float: right;
	width: 700px;
}

h2 {
	font-size: 24px;
	color: #666;
	text-align: center;
}

section {
	margin: 30px;
}

.content p {
	line-height: 1.6em;
}

.mail input, .mail textarea {
	margin-bottom: 10px;
	width: 200px;
}

footer {
	border: 1px solid #555;
}

footer p {
	font-weight: bold;
	margin-left: 20px;
}